[buildout]
package-name = collective.z3cform.datagridfield
package-extras = [test]

versions = versions

extensions = mr.developer
sources = sources
always-accept-server-certificate = true
always-checkout = true
auto-checkout =
    collective.z3cform.datagridfield_demo

[sources]
collective.z3cform.datagridfield_demo = git git://github.com/collective/collective.z3cform.datagridfield_demo.git

# Unpin Plone's versions.cfg pinning.
[versions]
collective.z3cform.datagridfield      =
collective.z3cform.datagridfield-demo =
