[buildout]
extends =
    test-4.3.x.cfg

parts +=
    omelette

extensions = mr.developer
sources = sources

always-accept-server-certificate = true
always-checkout = force
auto-checkout =
    collective.z3cform.datagridfield_demo


[sources]
collective.z3cform.datagridfield_demo = git git://github.com/collective/collective.z3cform.datagridfield_demo.git


[versions]
# Unpin Plone's versions.cfg pinning.
collective.z3cform.datagridfield      =
collective.z3cform.datagridfield-demo =


[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
    ${test:eggs}
packages = ${instance:location}/lib/python ./
