include *.py
include *.rst
include *.txt
exclude Makefile package.json webpack.config.js *.ini pnpm-lock.yaml *-mxdev.txt *.md .*
graft docs
graft resources
recursive-include src *
exclude
global-exclude *.pyc
global-exclude *.pyo
recursive-exclude news *
