include *.py
include *.rst
include *.txt
include setup.cfg
include Makefile
include package.json
include webpack.config.js
include yarn.lock
graft docs
graft resources
graft src
exclude *.cfg
exclude *.ini
exclude .*
exclude constraints-mxdev.txt
exclude requirements-mxdev.txt
global-exclude *.pyc
global-exclude *.pyo
