[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    checkouts.cfg

package-name = collective.z3cform.datagridfield
package-extras = [test]

allow-hosts +=
    code.google.com
    robotframework.googlecode.com

[versions]
# remove pinning on Plone >= 4.2
collective.z3cform.datagridfield =
