/*
  Attempted to keep the CSS similar to the Product.DataGridWidget definitioans.

  IE Hacks from that version or left in on the grounds that they might do something,
*/

.datagridwidget-table-view {
	width: 100%;
    border: 1px solid #666;
    background: none repeat scroll 0 0 #EEE;
}

.datagridwidget-table-view .header {
    font-weight: bold;
    background: none repeat scroll 0 0 #DDD;
    color: #666;
    padding: 2px;
    font-size: 1.1em;
    text-align: left;
}

.datagridwidget-row {
	vertical-align: top;
}

.datagridwidget-cell input[type="text"] {
    padding: 1px;
}
.datagridwidget-cell input, .datagridwidget-cell select, .datagridwidget-cell textarea {
    border: 1px solid #CCC;
}
.datagridwidget-cell > input:only-child { width: 99%; }

.datagridwidget-cell div.error {
    color:red;
    font-weight:bold;
}

.datagridwidget-empty-row {
	/* Hidden row with default selection widget values */
	display: none;
}

/* Error message is displayed above the field */
.datagridwidget-cell {
	vertical-align: bottom;
	padding: 1px;
}

.datagridwidget-manipulator {
	width: 16px;
	text-align: center;
	padding-bottom: 4px;
	margin: 0;	
	vertical-align: bottom;
}

.datagridwidget-manipulator img {
	cursor: pointer;	
}

.datagridwidget-hidden-data {
	display: none;	
}

/* You cannot delete the auto-append row */
.auto-append  > .datagridwidget-manipulator.delete-row,
.auto-append  > .datagridwidget-manipulator.move-up,
.auto-append  > .datagridwidget-manipulator.move-down {
    display:none;
}


/*
 	Workaround for IE which cannot propeply handle
 	background images in cloned TR input fields.
 	Plone is shipped with default input background gradient image
 */
.datagridwidget-cell input {
	background: white;
	background-image: none;
}

